<script src="https://giscus.app/client.js"
        data-repo="leafthelegend/website-comments"
        data-repo-id="R_kgDOLXjVgg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLXjVgs4Cdfdw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://cdn.jsdelivr.net/gh/leafthelegend/portfolio/static/comments.css"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>